*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --fs-p:50px;
    --fw-1:700px;
    --fw-2:400px;
    --White: hsl(0, 0%, 100%);
   --Slate300: hsl(212, 45%, 89%);
    --Slate500: hsl(216, 15%, 48%);
    --Slate900: hsl(218, 44%, 22%);

    --sm:375px;
    --lg:1440px;
    
}

body{
    background-color: var(--Slate300);
}
.main-container{
    border: 2px solid;
    width: 350px;
    height: 550px;
    margin: 20px;
    margin-left: 30px;
    margin-top: 120px;
    border-radius: 30px;
    border-color: var(--White);
    background-color: var(--White);
    
}
.image > img{
    width: 300px;
    border-radius: 20px;
    margin: 10px;
    margin-left: 23px;
    margin-top: 25px;
}
h1{
   font-family:"Outfit";
   padding: 3px;
   margin: 8px;
   color: var(--Slate900);
   font-weight:var(--fw-1);
   font-size: 30px;
   
}
#part1{
    margin: px;
}
#part2{
    margin: px;
}
p{
    font-size: var(fs-p);
    text-align: center;
    padding: 12px;
    font-size: 20px;
    color: var(--Slate500);
    font-weight: var(--fw-2);
}
@media screen and (min-width:720px) {
    body{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
